<%
  wrapper_class = local_assigns[:wrapper_class]
  placeholder   = local_assigns[:placeholder] || "jebediah@hackclub.com"
  leading       = local_assigns[:leading]
  trailing      = local_assigns[:trailing]
%>
<div class="<%= ["rsvp-form", wrapper_class].compact.join(" ") %>">
  <%= form_with url: rsvps_path, scope: :rsvp, method: :post, local: true do |form| %>
    <div class="rsvp-form__row">
      <%= leading %>
      <div class="input-red">
        <div>
          <%= form.email_field :email, placeholder: placeholder, autocomplete: "email", required: true %>
        </div>
      </div>

      <%= form.button type: "submit", class: "btn btn--red btn--striped" do %>
        <div>RSVP &rarr;</div>
      <% end %>

      <%= trailing %>
    </div>
  <% end %>
  <%= yield if block_given? %>
</div>
